<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mis familiares</h2>
    <h2>Mi madre es {{nombre}} {{apellido}} y tiene {{edad}} años</h2>
    <h2>Mi hermana mayor es {{nomb1}} {{ap1}} y tiene {{edad1}} años</h2>
    <h3 style="color: blue;"> Mi hermana menor se llama {{nomb2}} {{ap2}} y tiene {{edad2}} años</h3>
</body>
</html>